.card-area
  .video(data-bind="visible: !showDetails(), with: currentMovie()")
    include ./video-player
  .details(data-bind="visible: showDetails(), with: currentMovie()")
    include ./video-liked
