.card-selected(data-bind="visible: showDetails(), with: currentMovie()")
    h2 movie title goes here
    .friends-that-like
        h3 friends who like this
        .friends(data-bind="foreach: friends")
            .friend
.card-video(data-bind="visible: !showDetails(), with: currentMovie()")
    iframe.video-player(src="")