.card-area
  // ko if: nextMovie() != null
  .video(data-bind="visible: !showDetails(), with: nextMovie()")
    include ./video-player
  .details(data-bind="visible: showDetails(), with: nextMovie()")
    include ./video-liked
  // /ko