.overlay(data-bind="visible: showOverlay()")
    .exit-button(data-bind="click: onCloseOverlay")
        include ../../public/img/dislike.svg
    .liked-movies(data-bind="foreach: likedMovies")
        .liked-movie(data-bind="click: function(){ $root.onSetMovie($data) }")
            img.thumb(data-bind="attr: {src: posterUrl}")
