.overlay(data-bind="visible: showOverlay(), click: onCloseOverlay")
    .liked-movies(data-bind="foreach: likedMovies")
        .liked-movie(data-bind="click: function(){ $root.onSetMovie($data) }")
            img.thumb(data-bind="attr: {src: posterUrl}")
