h2(data-bind="text: title")
iframe.video-player(data-bind="attr: {src: youtubeUrl}" frameborder="0" allowfullscreen)

.button-area
  button.dislike
    img(src='img/dislike.svg')
  button.like
    img(src='img/like.svg')