@import "../global"
@import "../reset"

body
  background-color dark-red
  overflow hidden
  font-family BebasNeue

.access-token
  display none

.profile
  position absolute
  top 0
  right 0
  margin 20px

  img.profile-picture
    border-radius 5px

.film-area
  position: relative
  width 1000px
  max-width 100%
  margin 0 auto
  height 100%

  .film-roll
    position: absolute
    width: 100%
    height 100%
    top: -100%

    .frame
      height 100%
      width 100%
      background-color white
      border 10px solid black

      .card-area, .pad
        display inline-block
        float left
        height 100%

      padWidth = 50px
      .pad
        width padWidth
        background url('../img/filmside.png')
        background-repeat repeat-y
        background-size contain

      .card-area
        position: relative
        width 'calc(100% - %s)' % (padWidth * 2)
        .details
          height: 100%;
          h2
            margin-top: 20px;
            margin-bottom: 20px;
          .friends-that-like
            width: calc(50% - 20px);
            float: left
            .friend
              display: inline-block;
            input, input:active
              padding: 20px;
              background: black;
              color: white;
              border: none;
              font-size: 1.2em;
            li
              margin-top: 10px;
              font-size: 1.1em;
            li:hover
              cursor: pointer;
          .make-event
            width: calc(40% - 20px);
            float: right;
            margin-left: 20px;
            input, input:active
              padding: 20px;
              background: black;
              color: white;
              border: none;
              font-size: 1.2em;
            button
              margin-left: 10px;
          .event-link
            opacity: 0
        .button-area
          position: absolute
          bottom -2px
          width 100%
          button
            background-color gray
            padding 0
            width 50%
            cursor: pointer
            transition background-color transition-speed
            &:hover
              background-color black
        .video
          h2
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 0;
          .video-player
            width 100%
            height 500px
            background gray
            margin 0 auto
            margin-top 40px
.clearfix
  clear: both;

.btn-dark
  background-color: gray;
  display: inline-block
  padding: 20px;
  font-size: 1.2em;
  color: white;
  font-family: BebasNeue;

.btn-dark:hover
  cursor: pointer;
