@import "../global"
@import "../reset"

body
  background-color dark-red
  overflow hidden
  font-family BebasNeue

.access-token
  display none

.profile
  position absolute
  top 0
  right 0
  margin 20px

  img.profile-picture
    border-radius 5px

.film-area
  position: relative
  width 1000px
  max-width 100%
  margin 0 auto
  height 100%

  .film-roll
    position: absolute
    width: 100%
    height 100%
    top: -100%

    .frame
      height 100%
      width 100%
      background-color white
      border 10px solid black

      .card-area, .pad
        display inline-block
        float left
        height 100%

      padWidth = 50px
      .pad
        width padWidth
        background url('../img/filmside.png')
        background-repeat repeat-y
        background-size contain

      .card-area
        width 'calc(100% - %s)' % (padWidth * 2)
        .detail
          .friends-that-like

          .make-event

        .video
          .video-player
            width 100%
            height 500px
            background gray
            margin 0 auto
            margin-top 40px