@import "../global"
@import "../reset"

body
  background-color: dark-red

.wrapper
  width: 66%;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  display: none;

.video-player
  width: 600px;
  height: 400px;
  background: black;
  margin: 0 auto;
  margin-top: 40px;

.app
  float: left;
  height: 100%;
  width: calc(100% - 156px);

.access-token
  display: none;

.content
  width: 100%;
  margin-top: 40px;
  height: 66%;
  border-top: 10px black solid;
  border-bottom: 10px black solid;
  position: relative;

.card
  width: 100%;
  height: 100%;
  position: absolute;

.card-video
  width: 80%;
  margin: 0 auto;
  text-align: center;

.card-selected
  width: 80%;
  margin: 0 auto;

.left-pad
  float: left;
  width: 78px;
  height: 100%;
  border-right: 4px gray solid;
  background: url('../img/filmside.png') repeat-y top left;

.right-pad
  float: right;
  width: 78px;
  height: 100%;
  border-left: 4px gray solid;
  background: url('../img/filmside.png') repeat-y top right;

.clear-fix
  clear: both;

#flash
  background: light-red;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 200px;
  padding: 25px;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -128px;
  display: none;
  z-index: 10;