@require '../global'
@require '../reset'

body
  background-color: dark-red

.layer
  position absolute

.popcorn.layer
  bottom 0
  width 100%

  .popcorn-bucket
    text-align center
    margin 0 auto
    width 50%

    .image
      width 100%

// .popcorn-bucket
