@require '../global'
@require '../reset'

body
  background-color: dark-red
  overflow hidden

.layer
  position absolute
  width 100%
  height 100%

.popcorn.layer
  bottom 0
  pointer-events none

  .popcorn-bucket
    position: relative
    height 100%
    text-align center
    margin 0 auto
    width 50%
    z-index 1000

    .image
      width 100%
      position absolute
      bottom 0
      left 0

  .popcorn-kernels
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    .kernel
      position absolute

.logo.layer
  .content
    width 80%
    max-width 700px
    margin 0 auto
    .logo
      margin 50px 0
      width 100%
    .login-area
      color white
      text-align center
      cursor pointer

      &:hover
        .login-link
          color gray
        .image-area svg #fillpath
          fill gray

      // Transitions
      .login-link
        transition color transition-speed
      .image-area svg #fillpath
        transition fill transition-speed

      .image-area
        display inline-block
        margin 0 20px

        svg
          width 100px
          height 100px

          #fillpath
            fill white

      .title-area
        display inline-block

        .title
          font-size 130px
          font-family BebasNeue