@require '../global'
@require '../reset'

body
  background-color: dark-red

.layer
  position absolute
  width 100%
  height 100%

.popcorn.layer
  bottom 0
  pointer-events none

  .popcorn-bucket
    position: relative
    height 100%
    text-align center
    margin 0 auto
    width 50%
    z-index 1000

    .image
      width 100%
      position absolute
      bottom 0
      left 0

  .popcorn-kernels
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    .kernel
      position absolute

.logo.layer
  .content
    width 80%
    max-width 700px
    margin 0 auto
    .logo
      margin 50px 0
      width 100%
    .login-area
      color white
      text-align center

      &:hover
        .login-link
          color gray
        .title-area .title svg
          fill gray

      .login-link
        cursor pointer

      .image-area
        display inline-block
        margin 0 20px

          // width 100px
          // height 100px

      .title-area
        display inline-block

        .title
          font-size 130px
          font-family BebasNeue