extends layout

block css
  link(rel="stylesheet" href='css/app.css')

block js
  script(src='js/pages/app.js')

block content
  span.access-token= accessToken
  .profile
    img.profile-picture(src=photo)
  .film-area
    .film-roll
      .frame
        .left.pad
        include includes/card
        .right.pad
      .frame
        .left.pad
        include includes/card
        .right.pad