extends layout
block css
    link(rel="stylesheet" href='css/app.css')
block js
    script(src='js/app.js')
block content
    span.access_token= accessToken
    .wrapper
        .left-pad
        .app
            .content
                .card.card-one(data-bind="visible: showFirstCard()")
                    .card-selected
                    .card-video
                .card.card-two(data-bind="visible: !showFirstCard()")
                    .card-selected
                    .card-video
        .right-pad
        .clear-fix
