extends layout

block css
  link(rel="stylesheet" href='css/app.css')

block js
  script(src='js/pages/app.js')

block content
  .outer
    span.access-token= accessToken
    #flash
    .profile
      img.profile-picture(src = photo)
    .wrapper
      .left-pad
      .app
        .content
          .card.card-one(data-bind="visible: showFirstCard()")
            include includes/card
          .card.card-two(data-bind="visible: !showFirstCard()")
            include includes/card
      .right-pad
      .clear-fix