extends layout
block css
    link(rel="stylesheet" href='css/app.css')
block js
    script(src='js/app.js')
block content
    .wrapper
        .left-pad
        .app
            .content
        .right-pad
        .clear-fix
