extends layout

block css
  link(rel="stylesheet" href='css/app.css')

block js
  script(src='js/pages/app.js')
  script(src='//js.leapmotion.com/0.2.0-beta1/leap.min.js')

block content
  span.access-token= accessToken
  .profile(data-bind="click: onClickProfile")
    img.profile-picture(src=photo)
  include includes/overlay
  .film-area(data-bind="css: {hidden : !showOverlay()}")
    .film-roll
      .frame
        .left.pad-left
        include includes/next-card
        .right.pad-right
      .frame
        .left.pad-left
        include includes/card
        .right.pad-right
