extends layout

block css
  link(rel="stylesheet" href='css/splash.css')

block js
  script(src='js/splash.js')

block content
  .popcorn.layer
    .popcorn-bucket
      img.image(src='img/bucket.png')
  .logo.layer
    img.logo(src='')
    .login-area
      | facebook loginfdf
    .popcorn