extends layout

block css
  link(rel="stylesheet" href='css/splash.css')

block js
  script(src='js/pages/splash.js')

block content
  .popcorn.layer
    .popcorn-bucket
      img.image(src='img/bucket.png')
    .popcorn-kernels
  .logo.layer
    .content
      img.logo(src='img/logo.png')
      .login-area
        a(href='/app')
          .image-area
            img.fb(src='img/fb.svg')
          .title-area
            h3.title Login
      .popcorn