// Colors
gray = #84898A
black = #111
white = #F5F3F0
green = rgb(111, 178, 105)
light-red = #751E2F
dark-red = #42111B

// Font
@font-face
  font-family BebasNeue
  src url(../font/BebasNeue.otf)

// Transition speed
transition-speed = 100ms