// Colors
gray = #84898A
black = #111
white = #F5F3F0
light-red = #751E2F
dark-red = #42111B

// Font
@font-face
  font-family: "BebasNeue"
  font-style: normal
  font-weight: 700
  src: local("BebasNeue"), url("font/BebasNeue.otf") format("otf")